{% extends 'base.html' %}

{% block body %}

<div class="bg-img"></div>
<div class="container">
    <div class='row bg-white row_center row-head row_bottom'>
        <div class='col-md-12 col-lg-12'>
            <h4 class='text-center mb-3 mt-3'>Be the next Gen Visioner </h4>
        </div>
        <div class='col-md-3 col-lg-3 mt-3'>
            <div class='head mb-3'>
                <img src='static/images/Tactile.jpg' style='width: 250px;'>
            </div>
            <div class='body text-center mb-5'>
                <h5> Technology </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
        <div class='col-md-3 col-lg-3 mt-3'>
            <div class='head mb-3'>
                <img src='static/images/sc2.jpg' style='width: 250px;'>
            </div>
            <div class='body mb-5 text-center'>
                <h5> Science </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
        <div class='col-md-3 col-lg-3 mt-3'>
            <div class='head mb-3'>
                <img src='static/images/5.jpg' style='width: 250px;'>
            </div>
            <div class='body mb-5 text-center'>
                <h5> Fashion </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
</div>

<div class='bg-body mt-5 mb-5 bg-dark'>
    <div class='container'>
        <div class='card-body'>
            <h5 class='text-white'> The Ideas that comes from Imagination</h5>
            <h1 class='h1_style'> Share Your Crazy and Creative Ideas </h1>
            <img src='static/images/des.jpg' class='text-image none block'>
            <img src='static/images/11.jpg' class='text-img none block'>
        </div>
    </div>
</div>

<div class='container mt-5'>
    <div class="row g-0 mb-5 justify-content-center row_top">
        <div class="col-md-4">
            <img src="static/images/9.jpg" style='width: 290px;'>
        </div>
        <div class="col-md-4">
            <div class="body text-center mt-4">
                <h3 class="card-title">Life Style</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>

    <div class="row g-0 mt-5 mb-5 justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="body text-center mt-4">
                <h3 class="card-title">Business</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class='col-md-1'></div>
        <div class="col-md-3">
            <img src="static/images/bus4.jpg" style='width: 290px;'>
        </div>
    </div>
</div>
</div>
{% include 'footer.html' %}
{% endblock body %}